# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# Firebase Secret Key
lib/serviceAccountKey.json
src/serviceAccountKey.json

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
